@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  width: 80%;
  border: 3px solid #1B4F72;
  background-color: #D4E6F1
}

// #641E16

.left_side {
  float: left;
  text-align: center;
  width: 40%
}

.right_side {
  float: right;
  width: 60%
}

.tweet {
  border: 1px dashed darkblue;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #85C1E9;
  font-size: 12px;
}

.tweet-date {
  font-size: 8px;
  color: #3498DB;
}


ul.navbar {
  overflow-x: hidden;
  background-color: #1B4F72;
  list-style-type: none;
  text-transform: uppercase;
  min-height: 25px;
}

ul.navbar li a {
  padding: 2px;
  text-decoration: none;
  color: #FFFFFF;
  text-transform:uppercase;
}

ul.navbar li a:hover {
color: #1B4F72;
background-color: #FFFFFF;
}

ul.navbar li {
  float: left;
  padding-right: 5px;
}
